//output:H_controlPTester.html
doctype html
html(lang="es")
  head
    title Convocatoria 2018
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    include styles
  body
    include includes/headerInside 
    #content.grid-container(style="width:100%") 
      include includes/pages/controlPanelPage/controlPanel_content
      
    include includes/pages/loginPage/popChangePSW
    //FOOTER BAR       
    //include includes/footer
    include scripts
    
