script(src="js/vendor/jquery.js")
script(src="js/vendor/foundation.js")
script(src="js/vendor/jquery.magnific-popup.js")
script(src="js/vendor/jquery-ui.js") 
script(src="js/vendor/croppie.js")  
script(src="js/slick/slick.min.js") 
script(src="js/sidebar/classie.js") 
script(src="js/sidebar/gnmenu.js") 
script(src="js/posible/pos_library.js")
script(src="js/app.js")
