p Términos y condiciones de la Convocatoria POSiBLE 2018 que usted expresamente entiende y acepta
p − La aplicación para la Convocatoria de POSiBLE 2018 estará abierta del 02 de febrero al 27 de abril de 2018, hasta las 23:59 horas (tiempo del Centro de México). No habrá prórrogas.
p − La única forma de enviar documentos para su consideración es a través de estaplataforma. No se considerarán documentos enviados por correo electrónico o físicamente.
p − Acepto la obligación de proveer información verídica, confiable, completa y exacta para la postulación en la Convocatoria POSiBLE 2018.
p − Los proyectos seleccionados entienden que no obtendrán dinero como premio.
p − POSiBLE no tiene fines de lucro, no proporciona créditos y no solicita dinero para participar en alguna de las etapas.
p − El resultado del proceso de Convocatoria es irrevocable.
