h1 Conoce la Convocatoria 2018
p
  | POSiBLE es un programa que te ofrece las herramientas,
  | contactos y recursos necesarios para que emprendas tu idea
  | de negocio de manera exitosa. Para poder contar con el apoyo
  | de POSiBLE es necesario que te registres en www.posible.org.mx y
  | desarrolles un idea de negocio. El objetivo de POSiBLE es inspirar
  | y apoyar a todas las personas que tienen una idea y quieren emprender.
p Podrán postularse a POSiBLE 2018:
p
  | Todas aquellas personas (personas físicas mayores de 18 años o personas morales)
  | de nacionalidad mexicana, con una idea innovadora o que se encuentran en proceso de creación
  | y/o desarrollo de una empresa y quieren emprender.
p
  | Todos los postulantes se someterán a los lineamientos de evaluación y selección
  | contenidos en esta Convocatoria.
p VERTICALES DE PARTICIPACIÓN.
p
  | La convocatoria contará con verticales de participación, las cuales tendrá enfoques
  | de especialización de atención a emprendedores, ya sea por temáticas y/o por Estados.
p II. BENEFICIOS QUE OFRECE POSiBLE
p
  | Los 100 proyectos seleccionados podrán acceder a los siguientes beneficios adicionales:
p
  | Visibilidad: para dar a conocer su idea de negocio en medios masivos y eventos especiales.
p Enriquecimiento profesional: acceso a viajes y concursos internacionales.
p Programa de capacitación y cursos para fortalecer sus conocimientos.
p Mentores: acceso a mentorías presenciales y en línea.
p Contactos: vinculación con inversionistas y potenciales socios de negocios.
p III. ETAPAS DE PARTICIPACIÓN
p
  | Pasarás por distintas etapas de selección para formar parte de la comunidad POSiBLE:
p ETAPA 1: Registra tu idea
p Vigencia: del 2 de febrero al 27 de abril de 2018
p
  | Ingresa en www.posible.org.mx y regístrate con tu nombre y correo electrónico.
  | También puedes registrarte con tu cuenta de Facebook o Linkedin. Si ya has participado
  | en convocatorias anteriores de POSiBLE, podrás ingresar con la misma cuenta y contraseña anterior.
p
  | IMPORTANTE. Con tu registro aceptas los Términos de Uso y las Políticas de Privacidad de la convocatoria, puedes consultarlas en www.posible.org.mx
  | Desarrolla tu modelo de negocio. Para poder pasar a las siguientes etapas, es necesario completar el 100% de tu modelo de negocio y enviarlo a revisión. Si cuentas con más de una idea, no te preocupes, podrás registrar más de un proyecto y hasta un máximo de 3 proyectos, desde tu perfil.
  | Durante el proceso de llenado de tu modelo de negocios, en cada una de las secciones aparecerán videos, links de referencia a notas que apoyan y complementan la información, así como glosario de términos que te ayudan y orientan a postular de manera más completa tu modelo de  negocios. Esto es con la finalidad, de que Posible no sólo ofrezca la experiencia de participar en la convocatoria, sino también sea considerado como valor agregado, la formación en temas de emprendimiento que recibe el postulante.
  | Un grupo de expertos seleccionará los proyectos que pasarán a la siguiente etapa.
p ETAPA 2: Presenta tu idea de negocio en Paneles Estatales
p Fecha: del 4 de junio al 6 de julio 2018
p
  | Aproximadamente 1,5002 participantes serán seleccionados para presentar su Idea de Negocio (“pitch”)
  | ante un panel de expertos especializados. Esto se realizará en distintos Estados de la República. De ser seleccionado,
  | recibirás una invitación por correo electrónico, también será publicada la lista de proyectos seleccionados en www.posible.org.mx
p
  | Las fechas y ciudades donde se realizarán los paneles estatales serán publicados en www.posible.org.mx.
  | De no haber un panel estatal cerca de tu ciudad, tu “pitch” lo podrás realizar a través de una conferencia telefónica.
p ETAPA 3: Simulador de Negocios
p Fecha: del 4 de junio al 20 de julio 2018
p
  | Es un juego en línea que ofrece a los emprendedores la oportunidad de asegurar un lugar en el Campamento POSiBLE
  | en la edición correspondiente, a través de inversión virtual (no se invierte dinero real). Las 5 ideas de negocio
  | participantes de la convocatoria vigente que hayan conseguido mayor inversión al cierre del Simulador de Inversiones
  | formarán parte de la misma Generación  y asistirán al Campamento POSiBLE.
  | Todos los proyectos que fueron enviados a revisión participan en el simulador de negocios. Si no se desea jugar en este
  | simulador, deberá hacer privado su proyecto o mandar un correo a contacto@posible.org.mx
p
  | El participar o no en el simulador no afecta el proceso de selección de POSiBLE, es una forma de aprender a promover
  | su idea y de poder competir por garantizar un lugar en el Campamento POSiBLE 2018.
p ETAPA 4: Asiste al Campamento Emprendedor POSiBLE
p Fecha: del 17 al 21 de agosto de 2018 3 (5 días) en Ciudad de México
p
  | Al Campamento serán seleccionados 100 proyectos, 95 de estos serán seleccionados de los paneles estatales,
  | 5 de ellos serán invitados a partir de su participación en el Simulador de Inversiones (disponible del 4 de
  | junio al 20 de julio 2018), un juego de inversión que forma parte de la dinámica del programa.
p
  | El Campamento Emprendedor consiste en 5 días para afinar tu idea de negocio a través de talleres, capacitación,
  | mentorías y aprendizaje para lograr el financiamiento de los proyectos. El quinto día podrán presentar sus ideas de
  | negocio ante incubadoras y aceleradoras nacionales e internacionales.
p
  | Los 100 participantes seleccionados serán notificados vía e-mail y a través de una llamada telefónica. POSiBLE
  | cubrirá los viáticos (viaje terrestre o aéreo, hospedaje y ciertos alimentos) de los emprendedores seleccionados
  | que no residan en la ciudad en donde se realizará el campamento.
p IV. CONFIDENCIALIDAD
p
  | Toda la información presentada por los participantes y aquella que se genere durante el proceso de evaluación,
  | tendrá el carácter confidencial y no será empleada para ningún fin distinto al de los procesos de evaluación y selección.
p V. INFORMACIÓN RELEVANTE 
p POSiBLE no solicita dinero para participar en alguna de las etapas.
p POSiBLE no proporciona dinero como premio.
p POSiBLE no proporciona créditos.
p POSiBLE no tiene fines de lucro.
p
  ol
    li Estas fechas pueden presentar cambios 
    li Esta cifra puede modificarse de acuerdo al número y tipo de proyectos recibidos que cubran con el perfil requerido
    li Estas fechas pueden presentar cambios
p
  | Período de inscripciones, recepción de información y documentación:2 de febrero al 27 de abril de 2018.
p Informes y dudas:
p Correo electrónico: contacto@posible.org.mx
p Ciudad de México a Noviembre de 2017
