#content.grid-container(style="width:100%")
  //MAIN CONTENT
  .mainContent
    .grid-x.grid-padding-x
      .cell.small-12.medium-8.infoPosible.small-order-2.medium-order-1(style="background-image: url(/static/img/posible.final.png);background-size: 100% 100%;")
        include tabs
      .cell.small-12.medium-4.credentialsCell.small-order-1.medium-order-2
        include registerAndLogin
  br
