#popup_ap.overlay_popup
  .area_popup
    .grid-x
      .cell.small-12.medium-12.large-12 
        a.close(href='#') ×
        h2 Aviso de privacidad
      .cell.small-12.medium-12.large-12 
        .cont_popup
          include contentAP
      .cell.small-12.medium-12.large-12.popupButtons
        a.button.warning(href="")#guardarpdf: strong Guardar PDF 
