#popup_term.overlay_popup
  .area_popup
    .grid-x
      .cell.small-12.medium-12.large-12 
        a.close(href='#') ×
        h2 Términos y Condiciones
      .cell.small-12.medium-12.large-12 
        .cont_popup
          include contentTYC
