.Inicio.pTabs
  .shader
    h1 ¿QUIERES EMPRENDER?
    h4 INSCRÍBETE A LA CONVOCATORIA POSIBLE 2018
  br
  br
  br
  br
  br
  p(style="text-align:center;"): strong: a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").warning.button.play--btn.popup-youtube Video

.Convocatoria.pTabs.hide
  
