.thankyouContent
  .grid-x.grid-padding-x.infoThanyou
    .cell.small-12.medium-12.large-12
      h2 ¡Muchas gracias por inscribirte a POSiBLE!
    .cell.small-12.medium-12.large-12
      br
      h4
        | Recuerda que tienes del 
        strong 2 de febrero al 27 de abril
        |  para completar y enviar tu idea de negocio. ¡Aporta eso que solo tú puedes dar!
      h4
        | Hemos enviado a tu correo electrónico una liga para que puedas generar tu contraseña e ingresar al sitio
      h6
        | Te invitamos a seguir el blog de POSiBLE, dónde encontrarás las notas más interesantes del ecosistema de emprendimiento, fechas de esta y otras convocatorias y ¡podrás conocer a la comunidad de POSiBLers de estos 5 años anteriores!

      br
      a.button.warning(href="http://posible.org.mx"): strong Accede al Blog
      
