label.modelSubtitles ¿Cómo te enteraste?
ul#id_como_te_enteraste
  li
    label(for='id_como_te_enteraste_0')
      input#id_como_te_enteraste_0(type='checkbox', name='como_te_enteraste', value='tv')
      |  Televisión
  li
    label(for='id_como_te_enteraste_1')
      input#id_como_te_enteraste_1(type='checkbox', name='como_te_enteraste', value='radio', checked='')
      |  Radio
  li
    label(for='id_como_te_enteraste_2')
      input#id_como_te_enteraste_2(type='checkbox', name='como_te_enteraste', value='anuncio_revista', checked='')
      |  Anuncio en Revista
  li
    label(for='id_como_te_enteraste_3')
      input#id_como_te_enteraste_3(type='checkbox', name='como_te_enteraste', value='anuncio_exterior', checked='')
      |  Anuncio en Exterior
  li
    label(for='id_como_te_enteraste_4')
      input#id_como_te_enteraste_4(type='checkbox', name='como_te_enteraste', value='redes_sociales', checked='')
      |  Redes sociales
  li
    label(for='id_como_te_enteraste_5')
      input#id_como_te_enteraste_5(type='checkbox', name='como_te_enteraste', value='recomendacion')
      |  Otra recomendación
  li
    label(for='id_como_te_enteraste_6')
      input#id_como_te_enteraste_6(type='checkbox', name='como_te_enteraste', value='evento', checked='')
      |  Eventos
  li
    label(for='id_como_te_enteraste_7')
      input#id_como_te_enteraste_7(type='checkbox', name='como_te_enteraste', value='email', checked='')
      |  Correo electrónico
  li
    label(for='id_como_te_enteraste_8')
      input#id_como_te_enteraste_8(type='checkbox', name='como_te_enteraste', value='medios_digitales')
      |  Medios digitales
  li
    label(for='id_como_te_enteraste_9')
      input#id_como_te_enteraste_9(type='checkbox', name='como_te_enteraste', value='recomendacion_emprendedor')
      |  Recomendación de emprendedor POSiBLE
