.404Content
  .grid-x.grid-padding-x.info404
    .cell.small-12.medium-12.large-12
      p.bigTEXT 404
      h1 Lo sentimos, el contenido que estas buscando no existe
      br
      a.button.warning(href="http://posible.org.mx/registro"): strong Regresar
      br
      br
