.grid-x
  .cell.small-12.medium-12.large-12
    .grid-x         
      .cell.small-5.medium-5.large-5
        h4.titles Avance de proyecto(s)
      .cell.shrink
        i.fi-arrow-left.medium.projectButtons
      .cell.auto
        i.fi-arrow-right.medium.projectButtons   
  .cell.small-12.medium-12.large-12.projectContainer
    include controlPanel_projectSection_ORIGINAL
    include controlPanel_projectSection_ORIGINAL
    include controlPanel_projectSection_ORIGINAL
