.grid-x.grid-margin-x.cardProjectEmpty
    .cell.small-12.medium-12.large-12
      a(href="#")
        .projectEmpty
          h3 Nuevo Proyecto
          br
          br
          br
          p.info Da click aquí para comenzar a crear
          br

          
