.cell.small-12.medium-12.large-12.timeLine
  .progress.timeLineTrack.warning(role='progressbar', tabindex='0', aria-valuenow='50', aria-valuemin='0', aria-valuetext='25%', aria-valuemax='100')
    span.progress-meter(style='width: 15%')
  .grid-x.timeStops
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 1
        p Modulo 1
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 2
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 3
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 4
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 5
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 6
    .cell.auto.timeLineElement
      a(href="#")
        .circleDiv
          span 7
