//MAIN CONTENT
.canvasContent
  .grid-x.grid-padding-x
    include canvas_timeline
    .cell.small-12.medium-12.large-12
      .grid-x
        .cell.small-12.medium-12.large-12.moduleTitle
          h3 Módulo #. [Title]
        .cell.small-12.medium-8.large-8
          img(src="http://placehold.it/800x900")
        .cell.medium-4.large-4.small-12 
          include canvas_tutoringSection
