footer
  .grid-x.align-center
    .cell.small-12.medium-3.small-offset-1.medium-offset-0
      a(href="https://posible.org.mx")  
        img(src="img/logo/logo_blanco.png")
      ul.no-bullet
        li: a(href="https://noticias.posible.org.mx") NOTICIAS
        li: a(href="https://noticias.posible.org.mx/conoce-que-es-posible/") CONOCE QUE ES POSiBLE
        li: a(href="https://posiblelinx.com/") POSiBLE LINX
        li: a(href="https://posibleplus.mx/") POSiBLE +
    .cell.small-12.medium-3.small-offset-1.medium-offset-0
      h4: strong Patrocinadores
      .grid-x.grid-margin-x
        .cell.small-12.medium-3
          a(href="https://fundaciontelevisa.org"): img(src="img/logo/fundacion_televisa2016.png")
        .cell.small-12.medium-3
          a(href="https://www.montepiedad.com.mx/portal/"): img(src="img/logo/monte_de_piedadw.png")
    .cell.small-12.medium-2.small-offset-1.medium-offset-0
      span
        h4: strong Acerca de
      ul.no-bullet
        li: a(href="https://noticias.posible.org.mx/staff/") Equipo POSiBLE
        li: a(href="") Preguntas Frecuentes
        //li: a(href="") Contacto
        //li: a(href="") Anunciate con nosotros
  hr
  .grid-x.align-center
    .cell.small-12.medium-3.small-offset-1.medium-offset-0
      h4: strong Síguenos
      .grid-x
        .cell.shrink.redes
          a(href="https://www.facebook.com/PosibleMex"): i.fi-social-facebook.large
        .cell.shrink.redes
          a(href="https://twitter.com/PosibleMex"): i.fi-social-twitter.large
        .cell.shrink.redes
          a(href="https://www.youtube.com/user/PosibleMex"): i.fi-social-youtube.large
        .cell.shrink.redes
          a(href="https://www.instagram.com/posiblemex/"): i.fi-social-instagram.large
        .cell.shrink.redes
          a(href="https://www.linkedin.com/company/3246994/"): i.fi-social-linkedin.large
    .cell.small-12.medium-3.small-offset-1.medium-offset-0
      h4: strong Internacional
      ul.no-bullet
        li: a(href="https://www.posible.us/") POSiBLE US
    .cell.small-12.medium-2.small-offset-1.medium-offset-0
      h4: strong Subscríbete     
      .grid-x
        .cell.small-8
          input#subBtext(type="text",placeholder="Ingresa tu correo electrónico")
        .cell.auto
          a#subButton.button.warning(href=""): strong  Subscribirse
  br
